# Feature scaling is used for numerical values

## Before Scaling:

| Feature | Value |
|---------|-------|
| X       | 20    |
| Y       | 35    |
| Z       | 10    |

## After Min-Max Scaling (scaling values between 0 and 1):

| Feature | Scaled Value |
|---------|--------------|
| X       | 0.6667       |
| Y       | 1.0000       |
| Z       | 0.3333       |

# 1. Min Max Scalling

In [7]:
# min max scalling
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Sample data
data = {'my_Numbers': [1000,2000,3000,4000,50000]}
df = pd.DataFrame(data)
df

   my_Numbers
0        1000
1        2000
2        3000
3        4000
4       50000

In [8]:
# scale the data using min max scaller
scaler = MinMaxScaler()
df['my_Numbers_scaled'] = scaler.fit_transform(df['my_Numbers'].values.reshape(-1,1))
df

   my_Numbers  my_Numbers_scaled
0        1000           0.000000
1        2000           0.020408
2        3000           0.040816
3        4000           0.061224
4       50000           1.000000

# 2. Standard Scalar or Z-score normalization

In [9]:
# Standard scalling
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample data
data = {'my_Numbers': [1000,2000,3000,4000,50000]}
df = pd.DataFrame(data)
df

   my_Numbers
0        1000
1        2000
2        3000
3        4000
4       50000

In [10]:
# scale the data using standard scaller
scaler = StandardScaler()
df['my_Numbers_scaled'] = scaler.fit_transform(df['my_Numbers'].values.reshape(-1,1))
df

   my_Numbers  my_Numbers_scaled
0        1000          -0.578147
1        2000          -0.525588
2        3000          -0.473029
3        4000          -0.420471
4       50000           1.997236

# lograthmic scaling

In [13]:
import numpy as np
import pandas as pd

# random data with outlier
data = {'awen_numbers': [10000,20000,30000,10000,50000]}
df = pd.DataFrame(data)

# log trnasform
df['awen_numbers_log'] = np.log(df['awen_numbers'])
df['awen_numbers_log10'] = np.log10(df['awen_numbers'])
df['awen_numbers_log2'] = np.log2(df['awen_numbers'])

df.head()

   awen_numbers  awen_numbers_log  awen_numbers_log10  awen_numbers_log2
0         10000          9.210340            4.000000          13.287712
1         20000          9.903488            4.301030          14.287712
2         30000         10.308953            4.477121          14.872675
3         10000          9.210340            4.000000          13.287712
4         50000         10.819778            4.698970          15.609640